*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.quadrado{
    background-color: brown;
    width: 200px;
    height: 200px;
}

.circulo{
    background-color: blue;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}